html,
body {
  height: 100%;
  margin: 0;
}

#content {
  min-height: 80%;

  margin-bottom: -50px;
}

#footer {
  height: 50px;
  text-align: center;
  line-height: 50px;
}

#content:after {
  content: '';
  display: block;
  height: 50px;
}
.nav-link:active {
  color: black !important;
}
